DB_CONTAINER_NAME="odbvue-db-dev"
DB_ADMIN_USERNAME="ADMIN"
DB_ADMIN_PASSWORD="MySecurePass123!"
DB_WALLET_PATH="./.wallets/odbvue-db-dev.zip"
DB_WALLET_PASSWORD="MySecurePass123!"
DB_SCHEMA_USERNAME="ODBVUE"
DB_SCHEMA_PASSWORD="MySecurePass123!"