name: Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test-app-config:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: gvenzl/setup-oracle-sqlcl@v1
              with:
                  version: latest
            - name: Restore ADB wallet
              run: |
                  set -euo pipefail
                  WALLET_DIR="/tmp/wallet"
                  mkdir -p "$WALLET_DIR"
                  printf %s "${{ secrets.ADB_WALLET_BASE64 }}" | base64 -d > "$WALLET_DIR/wallet.zip"
                  unzip -P "${{ secrets.ADB_WALLET_PASSWORD }}" -q -o "$WALLET_DIR/wallet.zip" -d "$WALLET_DIR"
                  echo "TNS_ADMIN=$WALLET_DIR" >> $GITHUB_ENV
            - name: Test APP_CONFIG with sqlcl
              env:
                  ADB_USER: ${{ secrets.ADB_USER }}
                  ADB_PASSWORD: ${{ secrets.ADB_PASSWORD }}
                  ADB_TNS_ALIAS: ${{ secrets.ADB_TNS_ALIAS }}
                  APP_CONFIG: ${{ secrets.APP_CONFIG }}
              run: |
                  sql -nohistory "${ADB_USER}/${ADB_PASSWORD}@${ADB_TNS_ALIAS}"> /tmp/test.log 2>&1 << ENDSQL
                  set serveroutput on
                  begin
                    dbms_output.put_line('Username: ' || JSON_VALUE('${{ env.APP_CONFIG }}', '$.app_username'));
                  end;
                  /
                  exit
                  ENDSQL
                  cat /tmp/test.log
